body {
    background-color: rgb(249 250 251);
}

div#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 62px 12px 0;
}